<div class="col-12 col-sm-6 text-left align-self-sm-center align-self-start">
  <img src="../img/thanks.svg" class="img-fluid w-100" alt="Total Sentence Progress">
  <div class="bg-primary position-absolute rounded-pill" id="total-progress"></div>
  <div class="position-absolute rounded-pill" id="total-progress-bulb"></div>
</div>
